<p>candidate-list works!</p>

    <app-candidate>
        
    </app-candidate>



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>salary</th>
            <th>expected salary</th>
            <th>status</th>
        </tr>
    </thead>
    <!-- <tbody *ngFor="#candidate of candidate-list">
        <tr>
            <th>{{candidate.Id}}</th>
            <th>{{candidate.firstName + candidate.lastName}}</th>
            <th>{{candidate.salary}}</th>
            <th>{{candidate.expectedSalary}}</th>
            <th>{{candidate.status}}</th>
        </tr>
    </tbody> -->
</table>